<!--text-section-->
<div class="container-about">
  <div class="text-section">
    <p>
      I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND FUNCTIONAL
      WEBSITES THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
    </p>
  </div>
  <div class="image-section">
    <img src="/src/img/dekstop/hero@2x.png" alt="Person working on a laptop" />
  </div>
</div>

<!--about-section-->
<section id="about">
  <div class="about-section">
    <h2 style="display: none">About Me</h2>
    <h2>
      <span class="arrow" onclick="toggleSection('about')">About Me ↓</span>
    </h2>
    <div id="about-content" style="display: none">
      <p>
        I am Lloyd Jefferson, a talented programmer with extensive expertise in
        software development. I have an understanding of different programming
        languages and technologies, always ready to improve my skills. I have
        the highest ethical standards and look for unconventional creative
        solutions to problems. I always follow the latest trends so that I am
        able to effectively solve even the most difficult tasks encountered on
        the way.
      </p>
    </div>
    <h3>Role <span class="arrow" onclick="toggleSection('role')">↓</span></h3>
    <div id="role-content" style="display: none">
      <p>Frontend development, Headless CMS/Wordpress, Blender(Beta)</p>
    </div>
    <h3>
      Education
      <span class="arrow" onclick="toggleSection('education')">↓</span>
    </h3>
    <div id="education-content" style="display: none">
      <p>
        2018 - 2019 / Frontend Development Diploma , GoIT IT School New York
      </p>
      <p>
        2019 - 2020 / Advanced Web Development Certificate , GoIT IT School New
        York
      </p>
      <p>2020 - 2022 / Advanced Blender Animation Technique , Udemy</p>
    </div>
  </div>
</section>
