<!DOCTYPE html>
<html>
  <head>
    <title>Lloyd Jefferson</title>
  </head>
  <body>
    <section id="hero">
      <img src="/src/img/dekstop/hero@2x.png" alt="Hero Image" />
      <h1>
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
        FUNCTIONAL WEBSITES THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.
      </h1>
    </section>
    <section id="about-me">
      <h2>About Me</h2>
      <p>
        I am Lloyd Jefferson, a talented programmer with extensive expertise in
        software development. I have an understanding of different programming
        languages and technologies, always ready to improve my skills. I have
        the highest ethical standards and look for unconventional creative
        solutions to problems. I always follow the latest trends so that I am
        able to effectively solve even the most difficult tasks encountered on
        the way.
      </p>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <ul>
        <li>Frontend development</li>
        <li>Headless CMS/Wordpress</li>
        <li>Blender(Beta)</li>
      </ul>
    </section>
    <section id="education">
      <h2>Education</h2>
      <ul>
        <li>
          2018 - 2019 / Frontend Development Diploma , GoIT IT School New York
        </li>
        <li>
          2019 - 2020 / Advanced web Development Certificate , GoIT IT School
          New York
        </li>
        <li>2020 - 2022 / Advanced Blender Animation Technique , Udemy</li>
      </ul>
    </section>
  </body>
</html>
