<section class="FAQ-section">
    <div class="container">
        <h2 class="FAQ-headline">FAQ</h2>
        <ul class="FAQ-list">
            <li class="FAQ-item">
                <div class="FAQ-item-container">
                    <p>What programming languages ​​are most often used in your project?</p>
                    <button class="FAQ-arrow-btn" type="button">
                        <svg
                        class="FAQ-arrow-icon"
                        width="20"
                        height="20"
                        aria-label="arrow up icon"
                        >
                        <use href="/src/img/sprite.svg#icon-down-btn"></use>
                        </svg>
                    </button>
                </div>
                <p class="FAQ-texr">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="FAQ-item">
                <div class="FAQ-item-container">
                    <p>What are the deadlines for the project?</p>
                    <button class="FAQ-arrow-btn" type="button">
                        <svg
                        class="FAQ-arrow-icon"
                        width="20"
                        height="20"
                        aria-label="arrow up icon"
                        >
                        <use href=""></use>
                        </svg>
                    </button>
                </div>
                <p class="FAQ-texr">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li class="FAQ-item">
                <div class="FAQ-item-container">
                    <p>What payment methods do you accept?</p>
                    <button class="FAQ-arrow-btn" type="button">
                        <svg
                        class="FAQ-arrow-icon"
                        width="20"
                        height="20"
                        aria-label="arrow up icon"
                        >
                        <use href=""></use>
                        </svg>
                    </button>
                </div>
                <p class="FAQ-texr">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
            <li class="FAQ-item">
                <div class="FAQ-item-container">
                    <p>How can I contact you?</p>
                    <button class="FAQ-arrow-btn" type="button">
                        <svg
                        class="FAQ-arrow-icon"
                        width="20"
                        height="20"
                        aria-label="arrow up icon"
                        >
                        <use href="/src/img/sprite.svg#icon-down-btn"></use>
                        </svg>
                    </button>
                </div>
                <p class="FAQ-texr">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            </li>
            <li class="FAQ-item">
                <div class="FAQ-item-container">
                    <p>Do you provide advice or support?</p>
                    <button class="FAQ-arrow-btn" type="button">
                        <svg
                        class="FAQ-arrow-icon"
                        width="20"
                        height="20"
                        aria-label="arrow up icon"
                        >
                        <use href="/src/img/sprite.svg#icon-down-btn"></use>
                        </svg>
                    </button>
                </div>
                <p class="FAQ-texr">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            </li>
            <li class="FAQ-item">
                <div class="FAQ-item-container">
                    <p>What does the process of developing a software product look like from idea to implementation?</p>
                    <button class="FAQ-arrow-btn" type="button">
                        <svg
                        class="FAQ-arrow-icon"
                        width="20"
                        height="20"
                        aria-label="arrow up icon"
                        >
                        <use href="/src/img/sprite.svg#icon-down-btn"></use>
                        </svg>
                    </button>
                </div>
                <p class="FAQ-texr">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            </li>
        </ul>
    </div>
</section>