<section class="FAQ-section">
    <div class="container">
        <h2 class="is-hidden">section FAQ</h2>
        <ul>
            <li>What programming languages ​​are most often used in your project?</li>
                <button class="arrow-btn" type="button">
                    <svg
                    class="arrow-up-icon"
                    width="8"
                    height="8"
                    aria-label="arrow up icon"
                    >
                    <use href=""></use>
                    </svg>
                </button>
                <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            <li>What are the deadlines for the project?</li>
            
                <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            <li>What payment methods do you accept?</li>
                <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
            <li>How can I contact you?</li>
                <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
            <li>Do you provide advice or support?</li>
                <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
            <li>What does the process of developing a software product look like from idea to implementation?</li>
                <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </ul>

    </div>
</section>