<footer>
  <section class="section footer-section">
    <div class="container footer-container">
      <div class="footer-title-field">
        <img src="../img/icon-all size/logo-44x44.png" alt="Иконка" />
        <h2 class="footer-title">
          Let’s
          <span class="footer-title-accent"> work</span>
          <br />
          together
        </h2>
      </div>
      <form class="form-field">
        <div class="input-field">
          <label for="email" class="footer-label"></label>
          <input
            placeholder="clients@gmail.com"
            type="email"
            id="email"
            name="email"
            required
            class="footer-input"
          />
          <label for="message" class="footer-label"></label>
          <textarea
            placeholder="comments"
            id="message"
            name="message"
            required
            class="footer-input"
          ></textarea>
        </div>
        <button type="submit" itemprop="action" class="footer-send-btn">
          Send
        </button>
      </form>
      <div class="link-field">
        <a
          href="mailto:lloydjefferson@gmail.com"
          title="Email"
          class="footer-link"
          >lloydjefferson@gmail.com</a
        >
        <a href="tel:+3801111111111" title="Phone" class="footer-link"
          >+380 11 1111 11 11</a
        >
      </div>
    </div>
  </section>
</footer>
