<header class="header">
  <div class="container header-wrap">
    <a class="logo" href="index.html">
      <img
        srcset="./img/dekstop/logo.png 80w, ./img/dekstop/logo@2x.png 160w"
        sizes="80px"
        src="./img/dekstop/logo@2x.png"
        alt="logo"
      />
      <span class="logo-text">jefferson*</span>
    </a>
    <div class="header-menu">
      <span class="header-menu-btn" type="button">Menu</span>
    </div>
    <a class="header-link-for-footer" href="#footer">Order the project</a>
    <button class="header-burger-btn" type="button">
      <svg width="28" height="28" class="header-icon-burger-menu">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
  <div class="modal-header">
    <div class="modal-header-content">
  
      <button class="modal-header-body-close-btn" type="button">
        <svg type="button" class="modal-header-close-btn-icon" aria-label="modal close button" width="14" height="14">
          <use href="./img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
      <div class="modal-header-menu">
        <nav class="header-nav">
          <ul class="header-menu-list">
            <li class="header-menu-item">
              <a class="header-menu-item-link item-link-menu" href="#">Menu</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link item-link-about" href="#about">About me</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link item-link-benefits" href="#benefits">Benefits</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link item-link-projects" href="#projects">Projects</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link item-link-faq" href="#FAQ">FAQ</a>
            </li>
          </ul>
        </nav>
        </ul>
      </div>
      <div class="modal-order-btn">
        <a class="modal-order-btn-link" href="#footer">
          Order the project
        </a>
      </div>
  
  
    </div>
  </div>
</header>
