<header class="header">
  <div class="container header-wrap">
    <a class="logo" href="index.html">
      <img
        srcset="./img/dekstop/logo.png 80w, ./img/dekstop/logo@2x.png 160w"
        sizes="80px"
        src="./img/dekstop/logo@2x.png"
        alt="logo"
      />
      <span class="logo-text">jefferson*</span>
    </a>
    <div class="header-menu">
      <span class="header-menu-btn">Menu</span>
      
    </div>
    <a class="header-link-for-footer" href="#footer">Order the project</a>
    <button class="header-burger-btn" type="button">
      <svg width="28" height="28" class="header-icon-burger-menu">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
