<!-- <div class="modal">
    <div class="modal-body">
            <div class="modal-body-content">
           <button class="modal-body-close-btn" type="button">
            <svg type="button" class="modal-close-btn-icon" aria-label="modal close button" width="12" height="12">
                <use href="./img/sprite.svg#icon-close-btn"></use>
            </svg>
        </button>
        <div class="modal-body-content-message">
        
        <h2 class="modal-body-title">
            Thank you for your interest in cooperation!
        </h2>
        <p class="modal-body-message">
            The manager will contact you shortly to discuss further 
            details and opportunities for cooperation. Please stay in touch.
        </p>
        </div>
       </div>
    </div>
</div> -->
