<section id="projects" class="projects">
  <div class="projects-container container projects-swiper">
    <h2 class="projects-section-title">projects</h2>
    <ul class="projects-container-list swiper-wrapper">
      <li class="swiper-slide">
        <div class="projects-container-item">
          <div class="projects-content">
            <ul class="project-content-tech-list">
              <li class="project-content-tech-item">#react</li>
              <li class="project-content-tech-item">#js</li>
              <li class="project-content-tech-item">#node js</li>
              <li class="project-content-tech-item">#git</li>
            </ul>

            <h3 class="project-container-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-container-link"
              href="https://innaivboiko.github.io/CodingWeek/"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="project-container-img">
            <img
              class="project-container-img-pict"
              srcset="
                ./img/mobile/book-mobile.png     311w,
                ./img/mobile/book-mobile@2x.png  622w,
                ./img/tablet/book-tablet.png     614w,
                ./img/tablet/book-tablet@2x.png 1228w
              "
              sizes="(min-width:1440 ) 614px,(min-width:768px) 614px, (min-width: 375px) 311px"
              src="./img/tablet/book-tablet.png"
              alt="book-mobile-photo"
            />
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="projects-container-item">
          <div class="projects-content">
            <ul class="project-content-tech-list">
              <li class="project-content-tech-item">#react</li>
              <li class="project-content-tech-item">#js</li>
              <li class="project-content-tech-item">#node js</li>
              <li class="project-content-tech-item">#git</li>
            </ul>

            <h3 class="project-container-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-container-link"
              href="https://innaivboiko.github.io/CodingWeek/"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="project-container-img">
            <img
              class="project-container-img-pict"
              srcset="
                ./img/mobile/petlove-mobile.png     311w,
                ./img/mobile/petlove-mobile@2x.png  622w,
                ./img/tablet/petlove-tablet.png     614w,
                ./img/tablet/petlove-tablet@2x.png 1228w
              "
              sizes="(min-width:1440 ) 614px,(min-width:768px) 614px, (min-width: 375px) 311px"
              src="./img/tablet/petlove-tablet.png"
              alt="petlove-mobile-photo"
            />
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="projects-container-item">
          <div class="projects-content">
            <ul class="project-content-tech-list">
              <li class="project-content-tech-item">#react</li>
              <li class="project-content-tech-item">#js</li>
              <li class="project-content-tech-item">#node js</li>
              <li class="project-content-tech-item">#git</li>
            </ul>

            <h3 class="project-container-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="project-container-link"
              href="https://innaivboiko.github.io/CodingWeek/"
              target="_blank"
            >
              See project
            </a>
          </div>
          <div class="project-container-img">
            <img
              class="project-container-img-pict"
              srcset="
                ./img/mobile/form-mobile.png     311w,
                ./img/mobile/form-mobile@2x.png  622w,
                ./img/tablet/form-tablet.png     614w,
                ./img/tablet/form-tablet@2x.png 1228w
              "
              sizes="(min-width:1440 ) 614px,(min-width:768px) 614px, (min-width: 375px) 311px"
              src="./img/tablet/form-tablet.png"
              alt="form-mobile-photo"
            />
          </div>
        </div>
      </li>
    </ul>
    <div class="containet-projects-button">
      <div class="custom-prev-button custom-button">
        <svg width="24" height="24" class="projects-button-icon">
          <use href="./img/sprite.svg#icon-arrow-narrow-right-icon"></use>
        </svg>
      </div>
      <div class="custom-next-button custom-button">
        <svg width="24" height="24" class="projects-button-icon">
          <use href="./img/sprite.svg#icon-arrow-narrow-left-icon"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
