<section class="projects">
    <div class="projects-container container">
        <ul class="projects-container-list">
            <li class="projects-container-item">

                <div class="projects-content">
                    <ul class="project-content-tech-list">
                        <li class="project-content-tech-item">#react</li>
                        <li class="project-content-tech-item">#js</li>
                        <li class="project-content-tech-item">#node js</li>
                        <li class="project-content-tech-item">#git</li>
                    </ul>

                    <h2 class="project-container-title">
                        Programming Across Borders: Ideas, Technologies, Innovations
                    </h2>
                    <a class="project-container-link" href="https://innaivboiko.github.io/CodingWeek/" target="_blank">
                        See project
                    </a>
                </div>
                <div class="project-container-img">
                    <img class="project-container-img" srcset="
                                            ./img/mobile/book-mobile.png              311w,
                                            ./img/mobile/book-mobile@2x.png           622w,
                                            ./img/tablet/book-tablet.png              614w,    
                                            ./img/tablet/book-tablet@2x.png           1228w"
                        sizes="(min-width:1440 ) 614px,(min-width:768px) 614px, (min-width: 375px) 311px" 
                        src="./img/tablet/book-tablet.png"
                        alt="book-mobile-photo">
                </div>
            </li>
            <li class="projects-container-item">

                <div class="projects-content">
                                    <ul class="project-content-tech-list">
                                        <li class="project-content-tech-item">#react</li>
                                        <li class="project-content-tech-item">#js</li>
                                        <li class="project-content-tech-item">#node js</li>
                                        <li class="project-content-tech-item">#git</li>
                                    </ul>

                                    <h2 class="project-container-title">
                                        Programming Across Borders: Ideas, Technologies, Innovations
                                    </h2>
                                    <a class="project-container-link" href="https://innaivboiko.github.io/CodingWeek/" target="_blank">
                                        See project
                                    </a>
                </div>
                <div class="project-container-img">
                    <img class="project-container-img" srcset="
                                            ./img/mobile/petlove-mobile.png              311w,
                                            ./img/mobile/petlove-mobile@2x.png           622w,
                                            ./img/tablet/petlove-tablet.png              614w,    
                                            ./img/tablet/petlove-tablet@2x.png           1228w"
                        sizes="(min-width:1440 ) 614px,(min-width:768px) 614px, (min-width: 375px) 311px"
                        src="./img/tablet/petlove-tablet.png" 
                        alt="petlove-mobile-photo">
                </div>
            </li>
            <li class="projects-container-item">

                <div class="projects-content">
                    <ul class="project-content-tech-list">
                        <li class="project-content-tech-item">#react</li>
                        <li class="project-content-tech-item">#js</li>
                        <li class="project-content-tech-item">#node js</li>
                        <li class="project-content-tech-item">#git</li>
                    </ul>

                    <h2 class="project-container-title">
                        Programming Across Borders: Ideas, Technologies, Innovations
                    </h2>
                    <a class="project-container-link" href="https://innaivboiko.github.io/CodingWeek/" target="_blank">
                        See project
                    </a>
                </div>
                <div class="project-container-img">
                    <img class="project-container-img"  srcset="
                                            ./img/mobile/form-mobile.png              311w,
                                            ./img/mobile/form-mobile@2x.png           622w,
                                            ./img/tablet/form-tablet.png              614w,    
                                            ./img/tablet/form-tablet@2x.png           1228w"
                        sizes="(min-width:1440 ) 614px,(min-width:768px) 614px, (min-width: 375px) 311px"
                        src="./img/tablet/form-tablet.png" 
                        alt="form-mobile-photo">

                </div>
            </li>
        </ul>
        <div class="containet-projects-button">
                <button class="projects-button" type="button">
                    <svg 
                    class="projects-button-icon" 
                    width="24" 
                    height="24" 
                    aria-label="arrow narrow left">
                        <use href="./img/sprite.svg#icon-arrow-narrow-right-icon"></use>
                    </svg>
                </button>
                <button class="projects-button" type="button">
                    <svg 
                    class="projects-button-icon" 
                    width="24" 
                    height="24" 
                    aria-label="arrow narrow right">
                        <use href="./img/sprite.svg#icon-arrow-narrow-left-icon"></use>
                    </svg>
                </button>
        </div>
    </div>
</section>




