<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="title-reviews">REVIEWS</h2>

    <div class="swiper-reviews swiper">
      <ul class="cards-container swiper-wrapper"></ul>
      <div class="reviews-nav-btns">
        <div class="swiper-button-prev">
          <button class="reviews-left-button" type="button">
            <svg
              class="reviews-button-icon left-button-icon"
              width="24"
              height="24"
              aria-label="arrow narrow left"
            >
              <use href="./img/sprite.svg#icon-arrow-narrow-left-icon"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-button-next">
          <button class="reviews-right-button" type="button">
            <svg
              class="reviews-button-icon right-button-icon"
              width="24"
              height="24"
              aria-label="arrow narrow right"
            >
              <use href="./img/sprite.svg#icon-arrow-narrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
