<section class="reviews" id="reviews">
  <div class="container">
      <h2 class="title">REVIEWS</h2>
      <div class="cards-container swiperRev">
          <div class = "swiperRev-wrapper">

          </div>
          <div class="containet-reviews-button">
        <div class="swiperRev-button-prev">
          <button class="reviews-button reviews-left-button" type="button">
            <svg
              class="reviews-button-icon left-button-icon"
              width="24"
              height="24"
              aria-label="arrow narrow left"
            >
              <use href="./img/sprite.svg#icon-arrow-narrow-right-icon"></use>
            </svg>
          </button>
        </div>
        <div class="swiperRev-button-next">
          <button class="reviews-button reviews-right-button" type="button">
            <svg
              class="reviews-button-icon right-button-icon"
              width="24"
              height="24"
              aria-label="arrow narrow right"
            >
              <use href="./img/sprite.svg#icon-arrow-narrow-left-icon"></use>
            </svg>
          </button>
        </div>
          </div>
      </div>
  </div>
</section>
