<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="title-reviews">REVIEWS</h2>

    <div class="swiper-reviews swiper">
      <ul class="cards-container swiper-wrapper">
        <li class="card swiper-slide">
          <img
            class="card-foto"
            src="./img/icon-all size/natalia-logo.png"
            alt="Photo"
          />
          <h3 class="card-title">Natalia</h3>
          <p class="card-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations.
          </p>
        </li>
        <li class="card swiper-slide">
          <img
            class="card-foto"
            src="./img/icon-all size/dmytro-logo.png"
            alt="Photo"
          />
          <h3 class="card-title">Dmytro</h3>
          <p class="card-text">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="card swiper-slide">
          <img
            class="card-foto"
            src="./img/icon-all size/natalia-logo.png"
            alt="Photo"
          />
          <h3 class="card-title">Natalia</h3>
          <p class="card-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations.
          </p>
        </li>
        <li class="card swiper-slide">
          <img
            class="card-foto"
            src="./img/icon-all size/dmytro-logo.png"
            alt="Photo"
          />
          <h3 class="card-title">Dmytro</h3>
          <p class="card-text">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
        <li class="card swiper-slide">
          <img
            class="card-foto"
            src="./img/icon-all size/natalia-logo.png"
            alt="Photo"
          />
          <h3 class="card-title">Natalia</h3>
          <p class="card-text">
            Work with was extraordinary! He turned out to be a very competent
            and responsible specialist. The projects were completed on time and
            the result exceeded my expectations.
          </p>
        </li>
        <li class="card swiper-slide">
          <img
            class="card-foto"
            src="./img/icon-all size/dmytro-logo.png"
            alt="Photo"
          />
          <h3 class="card-title">Dmytro</h3>
          <p class="card-text">
            I have the honor to recommend him as an exceptional professional in
            his field. His knowledge and expertise are undeniable. Cooperation
            with him always brings impressive results.
          </p>
        </li>
      </ul>
      <div class="reviews-nav-btns">
        <div class="swiper-button-prev">
          <button class="reviews-left-button" type="button">
            <svg
              class="reviews-button-icon left-button-icon"
              width="24"
              height="24"
              aria-label="arrow narrow left"
            >
              <use href="./img/sprite.svg#icon-arrow-narrow-left-icon"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-button-next">
          <button class="reviews-right-button" type="button">
            <svg
              class="reviews-button-icon right-button-icon"
              width="24"
              height="24"
              aria-label="arrow narrow right"
            >
              <use href="./img/sprite.svg#icon-arrow-narrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
