#hero {
  width: 80%;
  margin: auto;
}

#hero h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

#about-me,
#skills,
#education {
  width: 80%;
  margin: auto;
}

#about-me h2,
#skills h2,
#education h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

#about-me p,
#skills ul,
#education ul {
  text-align: justify;
  line-height: 1.6;
}

.arrow {
  cursor: pointer;
}

/* Стилі для планшетної версії */
@media (max-width: 768px) {
  #hero,
  #about-me,
  #skills,
  #education {
    width: 90%;
  }
}

/* Стилі для мобільної версії */
@media (max-width: 480px) {
  #hero,
  #about-me,
  #skills,
  #education {
    width: 100%;
  }
}
