.body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #333;
  padding: 20px;
}
.about-section {
  width: 80%;
  margin: auto;
}
.about-section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.about-section p {
  text-align: justify;
  line-height: 1.6;
}
.about-section h3 {
  font-size: 1.5em;
  margin-top: 30px;
}
.arrow {
  cursor: pointer;
}
/* Стилі для планшетної версії */
@media (max-width: 768px) {
  .about-section {
    width: 90%;
  }
}
/* Стилі для мобільної версії */
@media (max-width: 480px) {
  .about-section {
    width: 100%;
  }
}
