/* --------------MOBILE STYLES-------------- */
/* --------------BUTTON-------------- */
.order-btn {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;

  /* outline: 1px rgba(252, 249, 249, 0.1) solid; */
  /* border: none; */
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: transparent;
  padding: 18px 36px 18px 36px;
  /* Mobile/Btn_text */
  color: rgb(250, 250, 250);
  /* font-family: Inter Tight; */
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -2%;
  text-align: left;
  word-wrap: break-word;
  transition: outline-color 0.5s ease-in-out;
  margin-top: 32px;
}

.order-btn:hover,
.order-btn:focus {
  outline-color: #ecd979;
}

.benefits-title {
  color: rgba(250, 250, 250, 0.4);
  /* font-family: Inter Tight; */
  font-size: 16px;
  font-weight: 600;
  line-height: 1, 5;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.benefits-list-title {
  color: rgb(250, 250, 250);
  /* font-family: Inter Tight; */
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 8px;
}

.benefits-list-text {
  color: rgba(250, 250, 250, 0.6);
  /* font-family: Inter Tight; */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
}
.benefits-item {
  border-radius: 20px;
  background: rgb(36, 37, 39);
  padding: 24px;
  margin-bottom: 16px;
}
.benefits-icon {
  margin-bottom: 64px;
  background-color: rgb(237, 59, 68);
  /* border: 2px solid rgb(250, 250, 250); */
  padding: 12px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

/* --------------TABLET STYLES-------------- */
@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    /* row-gap: 16px; */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .benefits-item {
    width: calc((100% - 16px) / 2);
    max-width: 344px;
  }
}

/* --------------DESKTOP STYLES-------------- */
@media screen and (min-width: 1440px) {
  .benefits-container {
    display: flex;
    /* width: 50%; 
    float: left; */
    /* justify-content: space-between; */
  }
  .benefits-title {
    width: 100%;
  }
}
