#faq .FAQ-section {
  margin-top: 32px;
  margin-bottom: 32px;
}

#faq .FAQ-item .FAQ-arrow-icon {
  transition: transform 300ms;
}

#faq .FAQ-item.is-active .FAQ-arrow-icon {
  transform: rotate(180deg);
}

#faq .FAQ-headline {
  margin-bottom: 32px;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

#faq .FAQ-item {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 20px;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.6);
  background-color: transparent;
  margin-top: 0;
}

#faq .FAQ-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
}

#faq .FAQ-item-container {
  display: flex;
  justify-content: space-between;
}

#faq .FAQ-text {
  padding-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

#faq .FAQ-arrow-btn {
  margin-left: 5px;
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
}

#faq .FAQ-arrow-btn::after {
  content: none;
}

#faq .FAQ-item-container {
  background-color: transparent;
}

/* =============== TABLET ===============*/

@media screen and (min-width: 768px) {
  #faq .FAQ-section {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  #faq .FAQ-item {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  #faq .FAQ-item-headline {
    max-width: 656px;
  }

  #faq .FAQ-text {
    padding-top: 26px;
    max-width: 656px;
  }
}

/* =============== DESKTOP ===============*/

@media screen and (min-width: 1440px) {
  #faq .FAQ-list {
    display: flex;
    flex-wrap: wrap;
  }

  #faq .FAQ-item {
    padding-bottom: 32px;
    flex-basis: 50%;
    width: 50%;
  }

  #faq .FAQ-item:nth-child(5) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.6);
  }

  #faq .FAQ-item:nth-child(odd) {
    border-right: 1px solid rgba(250, 250, 250, 0.6);
  }

  #faq .FAQ-item:nth-child(odd) button {
    margin-right: 32px;
  }

  #faq .FAQ-item:nth-child(even) h3,
  #faq .FAQ-item:nth-child(even) p {
    padding-left: 32px;
  }
}
