#FAQ .FAQ-section {
    margin-top: 32px;
    margin-bottom: 32px;
}

#FAQ .FAQ-item .FAQ-arrow-icon {
    transition: transform 300ms;
}

#FAQ .FAQ-item.is-active .FAQ-arrow-icon{
    transform: rotate(180deg);
}

#FAQ .FAQ-headline {
    margin-bottom: 32px;

    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
}

#FAQ .FAQ-item {
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;

    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;

    /* Переопределение стией Аккордеона */
    border: none;
    border-top: 1px solid rgba(250, 250, 250, 0.6);
    background-color: transparent;
    margin-top: 0;
}

#FAQ .FAQ-item:last-child {
    border-bottom: 1px solid rgba(250, 250, 250, 0.6);
}

#FAQ .FAQ-item-container {
    display: flex;
    justify-content: space-between;
}

#FAQ .FAQ-texr {
    padding-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

#FAQ .FAQ-arrow-btn {
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 7px;
    width: 34px;
    height: 34px;
}

#FAQ .FAQ-arrow-btn.ac-trigger::after {
    content: none;
}

#FAQ .FAQ-item-container {
    background-color: transparent;
}

/* =============== TABLET ===============*/

@media screen and (min-width: 768px) {
    #FAQ .FAQ-section {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    #FAQ .FAQ-item {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    #FAQ .FAQ-item-headline {
        max-width: 656px;
    }

    #FAQ .FAQ-texr {
        padding-top: 26px;
        max-width: 656px;
    }
    
}

/* =============== DESKTOP ===============*/

@media screen and (min-width: 1440px) {

    #FAQ .FAQ-list {
        display: flex;
        flex-wrap: wrap;
    }

    #FAQ .FAQ-item {
        padding-bottom: 32px;
        flex-basis: 50%;
        width: 50%;
    }

    #FAQ .FAQ-item:nth-child(5) {
        border-bottom: 1px solid rgba(250, 250, 250, 0.6);
    }

    #FAQ .FAQ-item:nth-child(odd){
        border-right: 1px solid rgba(250, 250, 250, 0.6);
    }

    #FAQ .FAQ-item:nth-child(odd) button {
        margin-right: 32px;
    }    

    #FAQ .FAQ-item:nth-child(even) h3{
        padding-left: 32px;
    }
}


