.modal-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0; /*must be 0*/
  visibility: hidden; /*must be hidden*/
  z-index: 12;
  transform: translateY(100%);
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-header.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-header-content {
  background-image: url('../img/mobile/glass-effect-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 303px;
}

.modal-header-body-close-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
}

.modal-header-menu {
  width: 68px;
  height: 112px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.header-menu-item {
  font-weight: 700;
  font-size: 16px;

  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}
.item-link-menu {
  opacity: 0;
  visibility: hidden;
}

.modal-order-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}
.modal-order-btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background: #ed3b44;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .modal-header {
    width: 768px;
    background: transparent;
  }
  .modal-header-body-close-btn {
    opacity: 0;
    visibility: hidden;
  }
  .modal-header-content {
    background-image: none;
    background-color: transparent;
    padding-top: 42px;
  }
  .modal-order-btn {
    opacity: 0;
    visibility: hidden;
  }

  .item-link-menu {
    opacity: 1;
    visibility: visible;
  }
  .header-menu-list {
    position: absolute;
    bottom: 191px;
    left: 2px;
  }
}
@media screen and (min-width: 1440px) {
  .modal-header {
    width: 1440px;
  }
  .header-menu-list {
    bottom: 251px;
    left: 43px;
  }
}
