.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  background: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  transform: translateX(0%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 136px 16px;
}

.modal-body-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
  background: #1c1d20;
  position: relative;
}

.modal-body-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.modal-body-content-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 279px;
  height: 148px;
}

.modal-body-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  width: 100%;
  height: 100%;
}

.modal-body-message {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 768px;
  }
  .modal-body-content {
    width: 492px;
    height: 246px;
  }
  .modal-body-content-message {
    margin-left: auto;
    margin-right: auto;
    width: 364px;
    height: 118px;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    width: 1440px;
  }
}
