.title-reviews {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.card {
  max-width: 344px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 84px;
}

.card-foto {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-size: cover;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.card-text {
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-nav-btns {
  position: absolute;
  bottom: 0;
  left: calc((100% - 116px) / 2);
  display: flex;
  gap: 12px;
  justify-content: center;
  width: 116px;
  height: 52px;
}

#reviews .swiper-button-prev {
  color: transparent;
}

#reviews .swiper-button-next {
  color: transparent;
}

#reviews button {
  position: absolute;
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: #1c1d20;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 344px;
    margin-bottom: 100px;
  }
  .reviews-nav-btns {
    left: calc((100% - 156px) / 2);
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 156px;
    height: 68px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 332px;
  }
}
