
.swiper-slide.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  }

.swiper-slide.card {
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
padding: 32px 24px;
width: 343px !important;
height: 302px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}

.title {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.review-author-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 32px;
}

.review-content {
  margin-top: 8px;
}

.containet-reviews-button {
  display: flex;
  gap: 12px;
  width: 116px;
  height: 52;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
.reviews-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #fafafa80;
  border-radius: 50%;
  padding: 14px;
  width: 52px;
  height: 52px;
  transform: rotate(-180deg);
  background-color: transparent;
}

.reviews-left-button {
  border: 1px solid #fafafa33;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .card {
    width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .reviews-button-icon {
    transform: scale(1.33);
  }
  .card {
    width: 332px;
  }

  .swiper-slide.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  }
}



/* .swiper-slide.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  }

.card {
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
padding: 32px 24px;
width: 343px !important;
height: 302px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}

.title {
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}

.card h3 {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;
margin-top: 32px;
}

.card p {
margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .card {
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
padding: 32px 24px;
width: 344px;
height: 302px;
  }

}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .card {
width: calc(25% - 16px);
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
padding: 32px 24px;
width: 332px;
height: 302px;
  }

  .swiper-slide.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  }

} */
